@model DepremProje.Models.Talep
@{
    ViewData["Title"] = "TalepEkle";
    Layout = "~/Views/Shared/_DepremLayout.cshtml";
}

<h1>Talep Ekle</h1>

<br />
@using (Html.BeginForm("TalepEkle", "Talep", FormMethod.Post))
{
    @Html.Label("Ad ")
    @Html.TextBoxFor(x=>x.KisiAdi,new{@class="form-control"} )
    @Html.Label("SoyAd ")
    @Html.TextBoxFor(x=>x.KisiSoyadi,new{@class="form-control"} )

    @Html.Label("Tc ")
    @Html.TextBoxFor(x=>x.KisiTC,new{@class="form-control"} )

    @Html.Label("Doğum Tarihi ")
    @Html.TextBoxFor(x=>x.KisiDogumTarihi,new{@class="form-control"} )

 
    <br />
    @Html.LabelFor(x=>x.Sehir.SehirAdi,new { @class = "form-control" })
    @Html.DropDownListFor(x=>x.SehirId,(List<SelectListItem>)ViewBag.v1,  new { @class = "form-control" })
    <br />

    <br />
    @Html.LabelFor(x=>x.Ilce.IlceAdi,new { @class = "form-control" })
    @Html.DropDownListFor(x=>x.IlceId,(List<SelectListItem>)ViewBag.v2,  new { @class = "form-control" })
    <br />

    @Html.LabelFor(x=>x.Malzeme.MalzemeAdi,new { @class = "form-control" })
    @Html.DropDownListFor(x=>x.MalzemeId,(List<SelectListItem>)ViewBag.v3,  new { @class = "form-control" })
    <br />

    @Html.Label("Açık Adres")
    @Html.TextAreaFor(x=>x.TalepAcikAdresi,new{@class="form-control"} )
    <br />
   


    <button class="btn btn-info">Kaydet</button>
}
