@model DepremProje.Models.Arac
@{
    ViewData["Title"] = "AracEkle";
    Layout = "~/Views/Shared/_DepremLayout.cshtml";
}

<h1>Arac Ekle</h1>

<br />
@using (Html.BeginForm("AracEkle", "Arac", FormMethod.Post))
{
    @Html.LabelFor(x=>x.AracPlaka)
    @Html.TextBoxFor(x=>x.AracPlaka,new{@class="form-control"} )
    @* @Html.ValidationMessageFor(x=>x.KategoriAdi,"",new {@style="color:red"})*@
    <br />
    @Html.LabelFor(x=>x.AracOzellikleri)
    @Html.TextBoxFor(x=>x.AracOzellikleri,new{@class="form-control"} )
    <br />
    <button class="btn btn-info">Kaydet</button>
}
